@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.top-header{
    margin-top: 30px;
    display: flex;
}


.half-width{
    width: 50%;
    padding: 90px 50px 50px 100px;
}

.half-width h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: rgb(83, 83, 83);
}

.half-width p{
    color: rgb(109, 108, 108);
    margin-bottom: 40px;
}

.half-width-img{
width: 50%;
text-align: center;
}

.half-width-img img{
    height: 75%;
}

.skip{
    background: -webkit-linear-gradient(45deg,rgb(255, 153, 0), rgb(255, 51, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.top-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 153, 0), rgb(255, 51, 0));
    padding: 12px 30px;
    border-radius: 30px;
}


.second-header{
    background-image: url(images/shapes/7.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
    display: flex;
    margin-top: -160px;
}

.sec-half-width{
    width: 50%;
    padding-left: 13.5%;
    padding-right: 12%;
    padding-top: 5%;
}

.sec-half-width img{
    height: 100%;
}

#about{
    margin-top: 60px;
}


.sec-half-width h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: rgb(83, 83, 83);
}

.sec-half-width p{
    color: rgb(109, 108, 108);
    margin-bottom: 40px;
    margin-bottom: 50px;
}